<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/password.css' />
    <title>New Share | Share securely</title>
</head>
<body>
    <div class="app-container">

        <div class="main-area">
          <div class="main-area-header">
            <h1>New Share</h1>
            <span>Share securely</span>
          </div>

          <section class="content-section">
            <form method="post" class="flex">
    
              <% if (locals.error) { %>
                <div class="prompt-messege">
                  Incorrect password
                </div>
                <% } %>

              <div class="password-area">
                  <input class="form__input" id="password" name="password" type="password" placeholder="Password" required />
                <div class="btn-download">
                  <button class="custom-btn btn-6" type="submit"><span>Download</span></button>
                </div>
              </div>
    
            </form>
          </section>

          
    
          <footer>
            <h4>Made with ❤️ by CodeKofy</h4>
          </footer>
        </div>
    
      </div>
      <a href="https://github.com/hafizmp/new-share-app" target="_blank" class="github-btn">
        See on GitHub
      </a>
</body>
</html>