<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/password.css' />
    <title>New Share | Share securely</title>
</head>
<body>
    <div class="app-container">

        <div class="main-area">
          <div class="main-area-header">
            <h1>Let's Share</h1>
          </div>
    
          <% if (locals.error) { %>
            <div class="upload-section">
              Incorrect password
            </div>
            <% } %>

          <section class="content-section">
            <form method="post">
    
              <div class="password-area">
                <form action="">
                  <input class="form__input" id="password" name="password" type="password" placeholder="Password" required />
                </form>
                <div class="btn-download">
                  <button class="custom-btn btn-6" type="submit"><span>Download</span></button>
                </div>
              </div>
    
            </form>
          </section>

          
    
          <footer>
            <h4>Made with ❤️ by CodeKofy</h4>
          </footer>
        </div>
    
      </div>
</body>
</html>